/* Enter your custom styles here */
.labelMargin{
    margin-top: 20px;
}

.customTreeChildren{
    background-color: white;
    border-bottom: 1px solid #e5e5e5;
}

.topMargin{
    margin-top:15px !important;
}

.marginLeft{
    margin-left: 15px !important
}

tr[data-sap-ui-level="2"]>td>div>span.sapUiTableTreeIcon {
    margin-left:50px !important;
}

tr[data-sap-ui-level="3"]>td>div>span.sapUiTableTreeIcon {
    margin-left:100px !important;
}